@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-geist-sans);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 224 10% 5%;
    --foreground: 0 0% 95%;
    --card: 0 0% 5.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 45 90% 47%;
    --primary-foreground: 0 0% 9%;
    --secondary: 224 20% 9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 224 20% 9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 224 20% 9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 20% 19%;
    --input: 224 20% 9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 224 20% 9%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .h1 {
    @apply text-4xl font-bold;
  }

  .h2 {
    @apply text-2xl font-bold  mb-2;
  }

  .h3 {
    @apply text-xl font-bold  mb-2;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-faculty text-foreground;
  }

  .color-swatch:hover > p {
    transform: translateX(0.5rem);
  }

  .color-swatch {
    @apply max-h-80 w-full aspect-square flex-1 relative;
  }
  .section {
    @apply bg-background/60 px-20 py-10;
  }
}

.orange-circle {
  width: 2000px;
  height: 2000px;
  border-radius: 100%;
  transform: translate(13%, -100%);
  position: absolute;
  z-index: -1;
  filter: blur(1000px);
  opacity: 1;
  background: radial-gradient(circle in oklab, hsl(26, 100%, 50%) 80%, black);
}

.bg-gradient {
  background-color: hsla(0, 0%, 0%, 1);
  background-image: radial-gradient(
      at 80% 100%,
      hsla(22, 100%, 50%, 0.24) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 0%, hsla(22, 100%, 50%, 0.24) 0px, transparent 50%);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.search:after {
  content: "";
  display: block;
  position: absolute;
  width: 1240px;
  height: 300px;
  right: -1040px;
  top: -100px;
  z-index: -1;
  background: url("../../public/llline.svg") no-repeat;
  background-size: 50%;
  background-position: center bottom;
  rotate: 180deg;
}

.search:before {
  content: "";
  display: block;
  position: absolute;
  width: 1240px;
  height: 300px;
  left: -1040px;
  top: -100px;
  z-index: -1;
  background: url("../../public/llline.svg") no-repeat;
  background-size: 50%;
  background-position: center bottom;
}

.section-body {
  @apply rounded-xl border border-border p-3 w-full bg-secondary;
}

.playlist-item:hover .playlist-thumb {
  transform: scale(1.1);
}

.playlist-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.glow {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2),
    0px 0px 20px rgba(255, 255, 255, 0.2), 0px 0px 30px rgba(255, 255, 255, 0.2),
    0px 0px 40px rgba(255, 255, 255, 0.2), 0px 0px 50px rgba(255, 255, 255, 0.2),
    0px 0px 60px rgba(255, 255, 255, 0.2), 0px 0px 70px rgba(255, 255, 255, 0.2);
}

.glow-green {
  text-shadow: 0px 0px 10px rgba(0, 255, 0, 0.4),
    0px 0px 20px rgba(0, 255, 0, 0.4), 0px 0px 30px rgba(0, 255, 0, 0.4),
    0px 0px 40px rgba(0, 255, 0, 0.4), 0px 0px 50px rgba(0, 255, 0, 0.4),
    0px 0px 60px rgba(0, 255, 0, 0.4), 0px 0px 70px rgba(0, 255, 0, 0.4);
}

.generator-wrapper {
  min-height: 100vh;
}

.generator-wrapper:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("/css-pattern-by-magicpattern.png") repeat;
  box-shadow: inset 0 0 2000px rgba(0, 255, 0, 1);
  opacity: 0.1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  filter: blur(2px);
}

.bg-glow-green {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.04),
    0px 0px 20px rgba(255, 255, 255, 0.04),
    0px 0px 30px rgba(255, 255, 255, 0.04),
    0px 0px 40px rgba(255, 255, 255, 0.04),
    0px 0px 50px rgba(255, 255, 255, 0.04),
    0px 0px 60px rgba(255, 255, 255, 0.04),
    0px 0px 70px rgba(255, 255, 255, 0.04);
}
